.mainbody{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    background-color: beige;
    color:black;
}

.divclass{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:2rem;
    background-color:azure;
    flex-direction:column;
    gap:1rem;
    border:2px solid black;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
   
}