.maindiv {
    display: flex;
    background-color: beige;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .innerdiv {
    width: 50vw;
    height: 50vh;
    border:2px solid black;
    position: relative;
    overflow: hidden; 
    border-radius: 20px;
  }
  
  .forward {
    position: absolute;
    right: 0;
    top: 50%;
    background-color: beige;
  }
  
  .backward {
    position: absolute;
    left: 0;
    top: 50%;
    background-color: beige;
  }
  
  .navbar {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    bottom: 0;
  }
  

  @keyframes SlideIn {
    0% {
        transform: translateX(100%);  
    }
    100% {
        transform: translateX(0%);  
    }
}

@keyframes SlideOut {
    0% {
        transform: translateX(-100%);  
    }
    100% {
        transform: translateX(0%);  
    }
}
  
  
  .slidein {
    animation: SlideIn 0.5s ease-in;
  }
  
  .slideout {
    animation: SlideOut 0.5s ease-out;
  }
  
  




